.h1 {
    font-family: var(--font-heading);
    font-size: 46px;
    color: #fff;
    font-weight: normal;
    line-height: .85;
    margin-top: 24px;
    margin-bottom: 60px;
}

.h2 {
    font-family: var(--font-heading);
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    line-height: 1.225;
}

p {
    font-family: var(--font-body);
    font-size: 22px;
    font-weight: normal;
    line-height: 1.3;
    &.white {
        color: #fff;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

input,
select,
textarea {
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 16px;
    &:focus {
        outline: none;
    }
}

select {
    background: url("/images/down-caret.svg") no-repeat 100% 10%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.arrow--submit span {
    font-size: 16px;
}

.btn {
    display: inline-block;
    margin-top: 32px;
    font-family: var(--font-heading);
    border: 1px solid #707070;
    background-color: var(--color-red);
    max-width: 461px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    height: 64px;
    line-height: 64px;
    color: white;
    text-decoration: none;
    text-indent: 16px;
    text-align: left;
    padding: 0;
    cursor: pointer;
    // flex-flow: row;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@media only screen and (min-width: $mobile) {

    .btn {
        font-size: 18px;
        text-indent: 28px;
    }

    input,
    select,
    textarea,
    .arrow--submit span {
        font-size: 18px;
    }

}

@media only screen and (min-width: $tablet) {

    .btn {
        font-size: 26px;
        height: 91px;
        line-height: 91px;
        text-indent: unset;
        text-align: center;
    }

    .h1 {
        font-size: 62px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .h2 {
        font-size: 36px;
    }

    p {
        font-size: 28px;
    }

    input,
    select,
    textarea,
    .arrow--submit span {
        font-size: 26px;
    }

}

@media only screen and (min-width: $desktop) {

    .h1 {
        font-size: 96px;
        margin-top: 32px;
        margin-bottom: 64px
    }

}

@media only screen and (min-width: $huge) {

    .h1 {
        font-size: 148px;
        margin-bottom: 60px;
    }
    
    .h2 {
        font-size: 63px;
    }

    input,
    select,
    textarea,
    .arrow--submit span {
        font-size: 32px;
    }

}
